{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-cond-assign": 0,
    "no-plusplus": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "react/no-danger": 0,
    "react/forbid-prop-types": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [ 1, { "ignore": [ "^[~]" ] } ],
    "react/jsx-filename-extension": [ 1, { "extensions": [ ".js", ".jsx" ] } ]
  },
  "settings": {
    "import/resolver": {
      "babel-root-import": {}
    }
  }
}
