.flex-row {
    display: flex;
    position: relative;
}

.wrap { flex-wrap: wrap; }
.full { flex: 1; }

.align-baseline { align-items: baseline; }
.align-center { align-items: center; }
.align-flex-end { align-items: flex-end; }
.align-flex-start { align-items: flex-start; }
.align-stretch { align-items: stretch; }

.justify-center { justify-content: center; }
.justify-flex-end { justify-content: flex-end; }
.justify-flex-start { justify-content: flex-start; }
.justify-space-around { justify-content: space-around; }
.justify-space-between { justify-content: space-between; }
