.main {
    background: #f0f0f0;
    position: absolute;
    overflow: hidden;
    font-size: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.column {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

// Overrides

:global(.ui.dropdown.selected),
:global(.ui.dropdown .menu .selected.item),
:global(.ui.dropdown .menu > .item:hover) {
    background: lighten(#2987CD, 45%) !important;
}
