.topBar {
  background-color: #2987CD;
  color: white;
  font-size: 1rem;
  padding: .4em .4em .5em 1em;
  width: 100%;
}

.logo {
  font-size: 1.3em;
  margin-right: .5em;
  margin-top: .1em;
}

.column {
  align-items: center;
  display: flex;
}
